@font-face{
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@import "tailwindcss";

@theme{
    --font-montserrat: Montserrat, "sans-serif";
}
:root {
  --color-background: #FFFFFF; /* black background */
  --color-foreground: #d6d6d6; /* white text */
  --color-darkshade1: #2C2C2E;
  --color-shade1: #F4F6FB;
}

body {
  background-color: var(--color-background);
  transition: background-color 0.3s, color 0.3s;
  font-family: Montserrat;
  color: #2e2e2e;
}
